bin/
lib/
include/
share/
etc/
captured_frames/
user_folder/
pyvenv.cfg
*__pycache__*
*.DS_Store

# Local files for testing
convert_to_jpg.py
liveliness_data/
test2.py
test5.py
test_liveliness.py
meshes/
temp_images/